
<div class="md-toolbar-tools" flex ng-style="{'color': vm.ExportService.indicator.style.base_color || vm.ExportService.exporter.base_color}" >
	<div layout="row" layout-align="start center" hide-xs hide-sm>
    <md-button ui-sref="app.export.detail({id:vm.ExportService.exporter.id, name: vm.ExportService.exporter.name})" class="md-icon-button md-mini" ng-style="{'color': vm.ExportService.indicator.style.base_color || vm.ExportService.exporter.base_color}">
      <md-icon ng-style="{'color': vm.ExportService.indicator.style.base_color || vm.ExportService.exporter.base_color}">home<md-icon>
    </md-button>
		<div class="chapter" ng-if="vm.ExportService.exporter.items.length > 1">Chapter</div>
		<div layout="row" layout-align="start center" ng-if="vm.ExportService.exporter.items.length > 1">

			<md-button ng-click="vm.gotoChapter(key+1)" class="md-icon-button md-mini rounded" ng-repeat="(key,item) in vm.ExportService.exporter.items" ng-class="{'active': (key) == vm.ExportService.exporter.items.indexOf(vm.ExportService.chapter)}" ng-style="{'color': vm.ExportService.indicator.style.base_color || vm.ExportService.exporter.base_color}">
				{{key + 1}}
			</md-button>


		</div>
	</div>
	<span flex hide-xs hide-sm></span>
	<div class="chapter" ng-if="vm.ExportService.exporter.style.fixed_title" ng-style="{'color' : vm.ExportService.exporter.base_color}">
		{{vm.ExportService.exporter.title}}
	</div>
</div>
<export-chooser hide-gt-sm></export-chooser>
<div class="data-button" ng-if="vm.ExportService.exporter.items.length" >
	<md-button ng-click="vm.showData()" class="md-raised">Data</md-button>
</div>
<div class="customer-logo" ng-if="vm.ExportService.exporter.image.src" style="background-image:url('{{vm.ExportService.exporter.image.src}}')"></div>
<style>
	body.iframed{
		border:1px solid #ddd;
	}

  a.md-button span{
    color:{{vm.ExportService.indicator.style.base_color || vm.ExportService.exporter.base_color}} !important;
  }
	.leaflet-top.leaflet-left{
		top: auto;
	  bottom: 2em;
		/*display:none;*/
	}
	.leaflet-bottom .leaflet-control-zoom.leaflet-bar a, .leaflet-bottom md-icon.md-primary,.leaflet-control-scale-line{
			color:{{vm.ExportService.exporter.base_color}} !important;
	}
	.mobile-window-switcher	.md-button.md-primary.md-fab, md-toolbar:not(.md-menu-toolbar){
			background-color: {{vm.ExportService.indicator.style.base_color || vm.ExportService.exporter.base_color}};
	}
	.leaflet-control-scale-line, .leaflet-control-scale-line:not(:first-child){
		border-color:{{vm.ExportService.exporter.base_color}}
	}
</style>
