<md-content layout-padding  ng-if="vm.ExportService.exporter.items.length">
  <div style="padding: 0 8px">
    <md-input-container class="md-block no-margin">
      <md-select ng-model="vm.ExportService.indicator" aria-label="Select Indicator" ng-change="vm.gotoIndicator()">

        <md-optgroup ng-if="chapter.type == 'group'" label="{{chapter.title}}" ng-repeat="chapter in vm.ExportService.exporter.items" ng-style="{'color': vm.ExportService.indicator.style.base_color}">
          <md-option ng-value="item" ng-repeat="item in chapter.children">{{ item.title}}</md-option>
        </md-optgroup>

        <md-optgroup ng-if="vm.ExportService.exporter.items[0].type != 'group'" label="{{vm.ExportService.exporter.title}}"  ng-style="{'color': vm.ExportService.indicator.style.base_color}">
          <md-option ng-value="item" ng-if="item.type == 'indicator'" ng-repeat="item in vm.ExportService.exporter.items">{{ item.title}}</md-option>
        </md-optgroup>

      </md-select>
    </md-input-container>
  </div>
</md-content>
